<div class="container-fluid row">
  <div class="col-sm-5 col-md-4 h-100">
    <div
      class="h-20 d-flex justify-content-center align-items-center"
      id="header-background"
    >
      <img
        class="header-logo h-75"
        src="https://i.ibb.co/3h7wrgX/logo-removebg-preview.png"
        alt="Logo"
      />
    </div>
    <form
      class="bg-white"
      id="form-container"
      [formGroup]="changePassForm"
      (ngSubmit)="changePassword()"
    >
      <div class="logo mb-4 pt-4 d-flex justify-content-center align-items-end">
        <img
          class="mt-4"
          src="https://i.ibb.co/3h7wrgX/logo-removebg-preview.png"
          alt="Logo"
        />
      </div>
      <div class="d-flex justify-content-center">
        <p-divider></p-divider>
        <!-- <p>Hoặc</p> -->
      </div>
      <h4 class="text-center pt-2 fw-semibold">Đổi mật khẩu</h4>
      <div class="input-textbox d-flex justify-content-center">
        <span class="p-float-label m-4 mb-1">
          <h6>Mật khẩu hiện tại</h6>
          <p-password
            class="inputtext mt-1 form-control"
            [toggleMask]="true"
            formControlName="oldPassword"
            [feedback]="false"
          >
          </p-password>
          <div *ngIf="isWrongLogin">
            <small class="text-danger">Mật khẩu cũ không đúng</small>
          </div>
          <div
            *ngIf="
              changePassForm.get('oldPassword').dirty ||
              changePassForm.get('oldPassword').touched ||
              isWrongLogin
            "
          >
            <small
              class="text-danger"
              *ngIf="changePassForm.get('oldPassword').errors"
              >Bạn chưa nhập mật khẩu</small
            >
          </div>
        </span>
      </div>

      <div class="input-textbox d-flex justify-content-center">
        <span class="p-float-label m-4 mb-1 mt-3">
          <h6>Mật khẩu mới</h6>
          <p-password
            class="inputtext mt-1 form-control"
            [toggleMask]="true"
            formControlName="newPassword"
            [feedback]="false"
          >
            <!-- <ng-template pTemplate="header">
              <h6>Pick a password</h6>
            </ng-template> -->
            <ng-template pTemplate="content">
              <!-- <p-divider></p-divider> -->
              <p class="mt-2">Yêu cầu</p>
              <ul class="pl-2 ml-2 mt-0 ms-2" style="line-height: 1.5">
                <li>Ít nhất là 6 ký tự</li>
                <li>Ít nhất một ký tự chữ và chữ số</li>
              </ul>
            </ng-template></p-password
          >
          <div
            *ngIf="
              (changePassForm.get('newPassword').invalid &&
                (changePassForm.get('newPassword').dirty ||
                  changePassForm.get('newPassword').touched)) ||
              changePassForm.get('newPassword').hasError('invalidPassword')
            "
          >
            <small class="text-danger"
              >Mật khẩu cần ít nhất 6 ký tự chữ và số</small
            >
          </div>
        </span>
      </div>
      <div
        *ngIf="isReset"
        class="btn-container d-flex justify-content-center pt-2"
      >
        <p class="text-success">
          Đổi mật khẩu thành công <a routerLink="/login">Đăng nhập lại</a>
        </p>
      </div>
      <div class="btn-container d-flex justify-content-center pt-3">
        <button
          type="submit"
          class="btn btn-primary text-nowrap rounded-3"
          [disabled]="changePassForm.invalid"
        >
          Đổi mật khẩu
        </button>
      </div>
      <div class="sign-up d-flex justify-content-center mt-2">
        <div>
          <p>
            Bạn chưa có tài khoản? <a routerLink="/register">Đăng ký ngay</a>
          </p>
        </div>
      </div>
    </form>
  </div>
  <div
    class="side-background col-sm-7 col-md-8 bg-secondary h-100 rounded-start-5"
  ></div>
</div>
