<app-widget
  [breadcrumbItimes]="breadcrumbItimes"
  [img]="
    'https://i.ibb.co/y6znmC0/mikhail-vasilyev-Nodtn-Cs-Ld-TE-unsplash-2.jpg'
  "
  title="Danh sách quỹ cứu trợ"
></app-widget>
<div class="container-page d-flex">
  <div
    class="side-filter rounded-3 d-flex flex-column col-3 col-sm-2 col-lg-2 p-2"
  >
    <div class="fund-type w-100 p-2">
      <h4>Tìm kiếm</h4>
      <div class="search-bar w-100 d-flex flex-nowrap">
        <span class="p-input-icon-left w-100 pe-2">
          <i class="pi pi-search"></i>
          <input
            type="text"
            placeholder="Nhập thông tin ..."
            class="rounded-4 p-1 w-100"
            [(ngModel)]="searchValue"
            (ngModelChange)="onFundSearch()"
            pInputText
          />
        </span>
      </div>
    </div>
    <div class="fund-type w-100 p-2">
      <p-divider></p-divider>
      <div class="funds-type w-100 p-2">
        <h4>Loại quỹ</h4>
        <div *ngFor="let fundTypes of listFundTypes" class="field-checkbox p-1">
          <p-radioButton
            name="group"
            class="my-auto"
            [value]="fundTypes.id"
            [inputId]="fundTypes.id"
            [(ngModel)]="selectedFund"
            (onClick)="onCheckboxFundChange(fundTypes.id)"
          ></p-radioButton>
          <label class="pt-2 my-auto" [for]="fundTypes.id">{{
            fundTypes.value
          }}</label>
        </div>
      </div>
    </div>
  </div>
  <div class="fund-list col-9 col-sm-10 col-lg-10 p-4">
    <div
      *ngIf="isLoading"
      class="loading w-100 h-25 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3"
    >
      <div class="spinner-border" role="status">
        <span class="sr-only">Đang tải...</span>
      </div>
      <p style="opacity: 0.7">Đang tải</p>
    </div>
    <p-dataView
      class="w-100 p-4"
      [value]="listFunds"
      layout="grid"
      [rows]="20"
      [paginator]="true"
      [sortField]="sortField"
      emptyMessage="Hiện tại chưa có quỹ nào khả dụng"
      filterBy="animalName,animalAge,animalGender,animalBreed,fundsName"
    >
      <ng-template let-fund pTemplate="gridItem">
        <div
          (click)="onFundClick(fund)"
          class="card-body my-4 ms-4 d-flex flex-wrap"
        >
          <div class="card-img">
            <img
              class="my-auto"
              src="{{
                fund.fundCover
                  ? fund.fundCover
                  : 'https://firebasestorage.googleapis.com/v0/b/advance-totem-350103.appspot.com/o/Avatar%2Fava-default_pet_pfp.png?alt=media&token=3fcf7cb9-a92b-402e-bc2c-08d632d62ae0'
              }}"
              alt=""
            />
          </div>
          <div class="card-content ps-3">
            <div
              class="card-title mb-2 d-flex flex-wrap justify-content-between"
            >
              <h3 class="my-auto">{{ fund.fundName }}</h3>
              <h5 class="pt-2">
                {{ fund.valuePerDonationPackage.toLocaleString() }} VND/Gói
              </h5>
            </div>
            <hr class="my-2" />
            <div class="card-des">
              <p>{{ fund.fundDescription }}</p>
            </div>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>
