<app-widget
  [breadcrumbItimes]="breadcrumbItimes"
  [img]="
    'https://i.ibb.co/y6znmC0/mikhail-vasilyev-Nodtn-Cs-Ld-TE-unsplash-2.jpg'
  "
  title="Danh sách ủng hộ"
></app-widget>
<div class="container d-flex w-100 justify-content-center">
  <div
    *ngIf="isLoading"
    class="loading w-100 h-50 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3"
  >
    <div class="spinner-border" role="status">
      <span class="sr-only">Đang tải...</span>
    </div>
    <p style="opacity: 0.7">Đang tải</p>
  </div>
  <p-table
    #dt
    [value]="listFunds"
    [rows]="10"
    [paginator]="true"
    [globalFilterFields]="[
      'fund.fundName',
      'fund.value',
      'user.userFirstName',
      'user.userLastName',
      'user.userEmail'
    ]"
    [tableStyle]="{ 'min-width': '75rem' }"
    [rowHover]="true"
    dataKey="id"
    styleClass="p-datatable-striped"
    [tableStyle]="{ 'min-width': '25rem' }"
  >
    <ng-template pTemplate="caption">
      <div class="search-bar w-100 d-flex">
        <div class="flex pt-2">
          <button class="btn btn-primary me-2" (click)="requestFund()">
            Yêu cầu quỹ
          </button>
          Có tổng cộng {{ listFunds ? listFunds.length : 0 }} giao dịch.
        </div>
        <span class="p-input-icon-right float-end my-auto">
          <i class="pi pi-search"></i>
          <input
            pInputText
            class="p-2"
            type="text"
            #textInput
            (input)="dt.filterGlobal(textInput.value, 'contains')"
            placeholder="Nhập thông tin"
          />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr class="py-5">
        <th style="min-width: 6rem" class="ps-4">Tên quỹ</th>
        <th>Số tiền</th>
        <th>Ngày gửi</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-fund>
      <tr>
        <td class="ps-4">{{ fund.fund.fundName }}</td>
        <td>{{ fund.value.toLocaleString() + " VND" }}</td>
        <td>{{ fund.date | date : "dd/MM/yyyy" }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
