<app-widget
  [breadcrumbItimes]="breadcrumbItimes"
  [img]="'https://i.ibb.co/TkTFnmM/jamie-street-s9-Tf1e-BDFqw-unsplash.jpg'"
  title="Danh sách thú cưng"
></app-widget>
<div class="container d-flex w-100 justify-content-center">
  <div class="pet-list col-9 col-sm-10 col-lg-10">
    <div
      *ngIf="isLoading"
      class="loading w-100 h-50 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3"
    >
      <div class="spinner-border" role="status">
        <span class="sr-only">Đang tải...</span>
      </div>
      <p style="opacity: 0.7">Đang tải</p>
    </div>
    <p-table
      #dt
      [value]="pets"
      [rows]="10"
      [paginator]="true"
      [globalFilterFields]="[
        'animalName',
        'animalBreed',
        'animalAge',
        'animalGender'
      ]"
      [tableStyle]="{ 'min-width': '75rem' }"
      [rowHover]="true"
      dataKey="id"
      styleClass="p-datatable-striped"
      [tableStyle]="{ 'min-width': '25rem' }"
    >
      <ng-template pTemplate="caption">
        <div class="search-bar w-100 d-flex">
          <button class="petlist-btn btn btn-primary" (click)="showDialog()">
            Thêm mới
          </button>
          <div class="flex pt-2">
            Có tổng cộng {{ pets ? pets.length : 0 }} bé thú cưng trong trại.
          </div>
          <span class="p-input-icon-right float-end">
            <i class="pi pi-search"></i>
            <input
              pInputText
              class="ps-2 pe-4"
              type="text"
              #textInput
              (input)="dt.filterGlobal(textInput.value, 'contains')"
              placeholder="Nhập thông tin"
            />
          </span>
        </div>
      </ng-template>
      <ng-template pTemplate="header">
        <tr class="py-5">
          <th class="ps-4" style="min-width: 6rem">Tên</th>
          <th style="min-width: 100px">Loại</th>
          <th style="min-width: 100px">Giống</th>
          <th pSortableColumn="animalAge" style="min-width: 100px">
            Tuổi <p-sortIcon field="animalAge"></p-sortIcon>
          </th>
          <th
            class="text-center"
            pSortableColumn="animalGender"
            style="min-width: 100px"
          >
            Giới tính <p-sortIcon field="animalGender"></p-sortIcon>
          </th>
          <th
            class="text-center"
            pSortableColumn="adopted"
            style="min-width: 100px"
          >
            Tình trạng <p-sortIcon field="adopted"></p-sortIcon>
          </th>
          <th
            class="text-center"
            pSortableColumn="isDelete"
            style="min-width: 100px"
          >
            Trạng thái

            <p-sortIcon field="isDelete"></p-sortIcon>
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-pet>
        <tr (click)="routeToPetDetail(pet)" style="cursor: pointer">
          <td class="ps-4">{{ pet.animalName }}</td>
          <td>{{ pet.animalSpecie == "Dog" ? "Chó" : "Mèo" }}</td>
          <td>{{ pet.animalBreed }}</td>
          <td>{{ pet.animalAge }}</td>
          <td class="text-center">{{ pet.animalGender ? "Đực" : "Cái" }}</td>
          <td class="text-center">
            <p-tag
              [value]="pet.adopted ? 'Đã có chủ' : 'Chưa có chủ'"
              [severity]="getSeverity(pet.adopted)"
            ></p-tag>
          </td>
          <td class="text-center">
            <p-tag
              [value]="pet.isDelete ? 'Ẩn' : 'Hiện'"
              [severity]="pet.isDelete ? 'danger' : 'success'"
            ></p-tag>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>
</div>
