<div class="container-fluid row">
  <div class="col-sm-5 col-md-4 h-100">
    <div class="bg-secondary h-20" id="header-background"></div>
    <form class="bg-white" id="form-container" [formGroup]="resetPassForm">
      <div class="logo mb-4 pt-4 d-flex justify-content-center align-items-end">
        <img
          class="my-4"
          src="https://i.ibb.co/3h7wrgX/logo-removebg-preview.png"
          alt="Logo"
        />
      </div>
      <div class="forgot-password d-flex justify-content-center">
        <div class="d-flex">
          <div class="me-auto mb-2">
            <h4>Đổi mật khẩu</h4>
            <h6>Chúng tôi đã gửi mã xác minh đến email của bạn</h6>
          </div>
        </div>
      </div>
      <div class="input-textbox d-flex justify-content-center">
        <span class="p-float-label m-4 mb-1">
          <h6>OTP</h6>
          <input
            class="inputtext ps-1"
            id="float-input"
            type="text"
            pInputText
            formControlName="otp"
          />
          <div
            *ngIf="
              resetPassForm.get('newPassword').dirty ||
              resetPassForm.get('newPassword').touched
            "
          >
            <small
              class="text-danger"
              *ngIf="resetPassForm.get('newPassword').errors"
              >Bạn chưa nhập OTP</small
            >
          </div>
          <div *ngIf="isWrongOtp">
            <small class="text-danger">OTP không đúng</small>
          </div>
        </span>
      </div>
      <div class="input-textbox d-flex justify-content-center">
        <span class="p-float-label m-4 mb-1 mt-3">
          <h6>Mật khẩu mới</h6>
          <p-password
            class="inputtext mt-1 form-control"
            [toggleMask]="true"
            formControlName="newPassword"
            [feedback]="false"
          >
            <!-- <ng-template pTemplate="header">
              <h6>Pick a password</h6>
            </ng-template> -->
            <ng-template pTemplate="content">
              <!-- <p-divider></p-divider> -->
              <p class="mt-2">Yêu cầu</p>
              <ul class="pl-2 ml-2 mt-0 ms-2" style="line-height: 1.5">
                <li>Ít nhất là 6 ký tự</li>
                <li>Ít nhất một ký tự chữ và chữ số</li>
              </ul>
            </ng-template></p-password
          >
          <div
            *ngIf="
              (resetPassForm.get('newPassword').invalid &&
                (resetPassForm.get('newPassword').dirty ||
                  resetPassForm.get('newPassword').touched)) ||
              resetPassForm.get('newPassword').hasError('invalidPassword')
            "
          >
            <small class="text-danger"
              >Mật khẩu cần ít nhất 6 ký tự chữ và số</small
            >
          </div>
        </span>
      </div>
      <div class="btn-container d-flex justify-content-center pt-3">
        <button
          type="submit"
          class="btn btn-primary text-nowrap rounded-3"
          (click)="changePassword()"
          [disabled]="resetPassForm.invalid"
        >
          Đổi mật khẩu
        </button>
      </div>
      <div class="sign-up d-flex justify-content-center mt-2">
        <div>
          <p>Bạn chưa nhận được mã? <a routerLink="">Gửi lại</a></p>
        </div>
      </div>
    </form>
    <p-toast key="verifySuccess" [preventOpenDuplicates]="true"></p-toast>
  </div>
  <div
    class="side-background col-sm-7 col-md-8 bg-secondary h-100 rounded-start-5"
  ></div>
</div>
