<div
  *ngIf="isLoading"
  class="loading w-100 h-100 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3"
>
  <div class="spinner-border" role="status">
    <span class="sr-only">Đang tải...</span>
  </div>
  <p style="opacity: 0.7">Đang tải</p>
</div>

<div class="container-fluid mt-4">
  <div class="row">
    <!-- card-info -->
    <div class="col-xl-4 order-xl-2 mb-5 mb-xl-0">
      <div class="card card-profile shadow">
        <div class="row justify-content-center">
          <div
            class="card-profile-image rounded-circle d-flex justify-content-center"
          >
            <img
              id="imgInput"
              src="{{ user.userAvatar }}"
              class="rounded-circle"
            />
          </div>
        </div>
        <div class="change-logo d-flex justify-content-center my-2">
          <button
            (click)="avatarInput.click()"
            style="width: fit-content; padding: 0.25rem 1.5rem"
            class="btn btn-primary"
          >
            Chọn ảnh
          </button>
          <input
            type="file"
            accept="image/png, image/jpeg"
            #avatarInput
            (change)="selectedAvatar($event)"
            style="display: none"
          />
        </div>
        <!-- card-info -->
        <div class="card-body pt-0 pt-md-4">
          <div class="row"></div>
          <div class="text-center">
            <h3>
              {{ user.userFirstName + " " + user.userLastName }}
            </h3>
            <div>
              <h5>
                {{ user.userEmail }}
              </h5>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- detail-info -->
    <div class="col-xl-8 order-xl-1">
      <div class="card bg-secondary shadow">
        <div class="card-header bg-white border-0">
          <div class="row align-items-center">
            <div class="col-8">
              <h1 class="mb-0">Tài khoản</h1>
            </div>
            <div class="col-lg-4 text-right d-flex gap-2">
              <button
                class="btn btn-secondary"
                (click)="routeToShelterProfile()"
              >
                Thông tin trại cứu trợ
              </button>
            </div>
          </div>
        </div>
        <div class="card-body">
          <h4 class="heading-small text-muted mb-4">Thông tin cá nhân</h4>
          <div class="pl-lg-4 position-relative">
            <div
              *ngIf="isLoadingProfile"
              class="loading w-100 h-100 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3"
            >
              <div class="spinner-border" role="status">
                <span class="sr-only">Đang tải...</span>
              </div>
              <p style="opacity: 0.7">Đang tải</p>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div>
                  <h6>Email</h6>
                  <input
                    class="w-100 rounded-2 p-2 mb-3"
                    type="text"
                    placeholder="Username"
                    [(ngModel)]="user.userEmail"
                    disabled="true"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div>
                  <h6>Họ và tên</h6>
                  <input
                    type="email"
                    class="w-100 rounded-2 p-2 mb-3"
                    id="input-email"
                    [(ngModel)]="userFullName"
                  />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-6">
                <div>
                  <h6>Số điện thoại</h6>
                  <input
                    type="text"
                    pattern="[0-9]+"
                    minlength="10"
                    maxlength="11"
                    class="w-100 rounded-2 p-2 mb-3"
                    placeholder="Số điện thoại"
                    [(ngModel)]="user.phoneNumber"
                  />
                </div>
              </div>
              <div class="col-lg-6">
                <div>
                  <span class="p-float-label">
                    <h6 class="addressLabel ps-0">Giới tính</h6>
                    <p-dropdown
                      [options]="genderOptions"
                      optionLabel="value"
                      class="mb-3"
                      [autoDisplayFirst]="false"
                      [(ngModel)]="selectedGender"
                    >
                    </p-dropdown>
                  </span>
                </div>
              </div>

              <div class="col-lg-6">
                <div>
                  <span class="d-flex flex-column">
                    <h6 class="addressLabel ps-0">Ngày sinh</h6>

                    <p-calendar
                      [(ngModel)]="dob"
                      class="w-100 rounded-2 mb-3"
                      [showIcon]="true"
                      dateFormat="dd/mm/yy"
                    ></p-calendar>
                  </span>
                </div>
              </div>
              <div class="col-lg-6">
                <div>
                  <span class="d-flex flex-column"> </span>
                </div>
              </div>
              <div class="d-flex justify-content-center mt-2">
                <button
                  class="btn btn-primary m-auto"
                  (click)="updateUserProfile()"
                >
                  Cập nhật thông tin
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<p-toast key="toast"></p-toast>
