<app-widget
  [breadcrumbItimes]="breadcrumbItimes"
  [img]="'https://i.ibb.co/TkTFnmM/jamie-street-s9-Tf1e-BDFqw-unsplash.jpg'"
  title="Danh sách thú cưng"
></app-widget>
<div class="container d-flex m-0 p-0">
  <div
    class="side-filter rounded-3 d-flex flex-column col-3 col-sm-2 col-lg-2 m-2"
  >
    <div class="pet-type w-100 p-2">
      <h4>Tìm kiếm</h4>
      <div class="search-bar w-100 d-flex flex-nowrap">
        <span class="p-input-icon-left w-100 pe-2">
          <i class="pi pi-search"></i>
          <input
            type="text"
            placeholder="Nhập thông tin ..."
            class="rounded-4 p-1 w-100"
            [(ngModel)]="searchValue"
            (ngModelChange)="onUserSearched()"
            pInputText
          />
        </span>
      </div>
    </div>
    <div class="pet-type w-100 p-2">
      <h4>Loại</h4>
      <div
        *ngFor="let pet of petSpecie"
        class="field-checkbox p-1 d-flex align-items-center"
      >
        <p-radioButton
          name="group"
          [value]="pet.id"
          [inputId]="pet.id"
          [(ngModel)]="selectedSpecie"
          (onClick)="onCheckboxBreedChange($event)"
        ></p-radioButton>
        <label [for]="pet.id">{{ pet.value }}</label>
      </div>
    </div>
    <p-divider></p-divider>
    <div class="shelter-type w-100 p-2">
      <h4>Trại cứu trợ</h4>
      <div *ngFor="let shelter of listShelter" class="field-checkbox p-1">
        <p-radioButton
          name="group"
          [value]="shelter.id"
          [inputId]="shelter.id"
          [(ngModel)]="selectedShelter"
          (onClick)="onCheckboxShelterChange($event)"
        ></p-radioButton>
        <label [for]="shelter.id">{{ shelter.value }}</label>
      </div>
    </div>
  </div>
  <div class="pet-list col-9 col-sm-10 col-lg-10">
    <div
      *ngIf="isLoading"
      class="loading w-100 h-25 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3"
    >
      <div class="spinner-border" role="status">
        <span class="sr-only">Đang tải...</span>
      </div>
      <p style="opacity: 0.7">Đang tải</p>
    </div>
    <p-dataView
      class="w-100"
      [value]="pets"
      layout="grid"
      [rows]="10"
      [paginator]="true"
      [sortField]="sortField"
      emptyMessage="Không có bé cần tìm"
      filterBy="animalName,animalAge,animalGender,animalBreed,shelterName"
    >
      <ng-template let-pet pTemplate="gridItem">
        <app-pet-card [pet]="pet"></app-pet-card>
      </ng-template>
    </p-dataView>
  </div>
</div>
