<app-widget
  [breadcrumbItimes]="breadcrumbItimes"
  img="'https://i.ibb.co/y6znmC0/mikhail-vasilyev-Nodtn-Cs-Ld-TE-unsplash-2.jpg'"
  title="Chi tiết thú cưng"
></app-widget>
<div class="container p-4">
  <div class="info">
    <p-galleria
      [value]="listImg"
      [showIndicators]="false"
      [showItemNavigatorsOnHover]="true"
      [showItemNavigators]="true"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '760px' }"
    >
      <ng-template pTemplate="item" let-item>
        <img
          [src]="item"
          style="
            width: 80%;
            display: block;
            padding-bottom: 10px;
            min-height: 300px;
            max-height: 400px;
            object-fit: cover;
            border-radius: 5px;
          "
        />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item" class="h-100" style="display: block; width: 20%" />
        </div>
      </ng-template>
    </p-galleria>

    <div class="pet-info">
      <div class="basic-info ps-4">
        <h1 class="py-2">{{ pet.animalName }}</h1>

        <h5><b>Giống:</b> {{ pet.animalBreed }}</h5>
        <h5><b>Giới tính:</b> {{ pet.animalGender ? "Đực" : "Cái" }}</h5>
        <h5><b>Tuổi:</b> {{ pet.animalAge }}</h5>
        <h5><b>Cân nặng:</b> {{ pet.animalWeight }}</h5>
        <h5><b>Màu sắc:</b> {{ pet.animalColor }}</h5>
      </div>

      <p-divider align="left" class="pt-2">
        <div class="inline-flex align-items-center">
          <b>Tình trạng</b>
        </div>
      </p-divider>
      <div class="status-info ps-4 pt-2">
        <h5><b>Tiêm phòng:</b> {{ pet.vaccinated ? "Đã tiêm" : "Chưa" }}</h5>
        <h5><b>Triệt sản:</b> {{ pet.deWormed ? "Rồi" : "Chưa" }}</h5>
        <h5><b>Xổ giun:</b> {{ pet.sterilized ? "Rồi" : "Chưa" }}</h5>
        <h5><b>Thân thiện:</b> {{ pet.friendly ? "Có" : "Không" }}</h5>
      </div>
      <p-divider align="left" class="pt-2">
        <div class="inline-flex align-items-center">
          <b>Người nhận nuôi online</b>
        </div>
      </p-divider>

      <div class="my-2">
        <div class="ps-4 d-inline" *ngFor="let user of listOnlineAdopter">
          <p-avatar
            image="{{ user.userAvatar }}"
            size="large"
            shape="circle"
            pTooltip="{{ user.userFirstName + ' ' + user.userLastName }}"
            tooltipPosition="bottom"
          ></p-avatar>
        </div>
      </div>

      <div class="ps-4 p-2" *ngIf="listOnlineAdopter.length === 0">
        Hiện tại chưa có người nhận nuôi
      </div>
      <div class="button-group pt-2 ps-4 d-flex">
        <button class="btn btn-primary" (click)="editPet()">
          Sửa thông tin
        </button>
        <button
          class="btn btn-secondary"
          (click)="deletePet()"
          *ngIf="!pet.isDelete"
        >
          Ẩn thú cưng
        </button>
        <button
          class="btn btn-secondary"
          (click)="reavealPet()"
          *ngIf="pet.isDelete"
        >
          Khôi phục thú cưng
        </button>
      </div>
      <p-toast key="deletePet" [preventOpenDuplicates]="true"></p-toast>
      <p-confirmDialog #cd position="bottom" [style]="{ width: '50vw' }">
        <ng-template pTemplate="header">
          <h3>Xoá thú cưng</h3>
        </ng-template>
        <ng-template pTemplate="footer">
          <button
            class="btn btn-secondary"
            type="button"
            pButton
            icon="pi pi-times"
            label="Huỷ"
            (click)="cd.reject()"
          ></button>
          <button
            class="btn btn-primary"
            type="button"
            pButton
            icon="pi pi-check"
            label="Xác nhận"
            (click)="cd.accept()"
          ></button>
        </ng-template>
      </p-confirmDialog>
    </div>
  </div>
  <div class="detail-status pt-4">
    <p-divider align="left" class="pt-2">
      <div class="inline-flex align-items-center">
        <b>Tình trạng sức khoẻ</b>
      </div>
    </p-divider>
    <div>
      <textarea
        class="w-100 ps-4"
        name=""
        id="textarea"
        pInputTextarea
        [autoResize]="true"
        [(ngModel)]="pet.animalStatus"
        disabled="true"
        style="font-size: 1.15rem"
      ></textarea>
    </div>
  </div>
</div>
