<div class="container-fluid row">
  <div class="col-sm-5 col-md-4 h-100">
    <div
      class="h-20 d-flex justify-content-center align-items-center"
      id="header-background"
    >
      <img
        class="header-logo h-75"
        src="https://i.ibb.co/3h7wrgX/logo-removebg-preview.png"
        alt="Logo"
      />
    </div>
    <form
      class="bg-white"
      id="form-container"
      [formGroup]="loginForm"
      (ngSubmit)="login()"
    >
      <div class="logo mb-4 pt-4 d-flex justify-content-center align-items-end">
        <img
          class="mt-4"
          src="https://i.ibb.co/3h7wrgX/logo-removebg-preview.png"
          alt="Logo"
        />
      </div>
      <div class="d-flex justify-content-center p-2">
        <asl-google-signin-button
          type="standard"
          size="large"
          s
        ></asl-google-signin-button>
      </div>
      <div class="d-flex justify-content-center">
        <p-divider></p-divider>
        <!-- <p>Hoặc</p> -->
      </div>
      <div class="input-textbox d-flex justify-content-center">
        <span class="p-float-label m-4 mb-1">
          <h6>Email</h6>
          <input
            class="inputtext ps-1 mt-1 form-control"
            name="emailInput"
            id="float-input"
            type="email"
            pInputText
            formControlName="userEmail"
          />
          <div
            *ngIf="
              loginForm.get('userEmail').invalid &&
              (loginForm.get('userEmail').dirty ||
                loginForm.get('userEmail').touched)
            "
          >
            <small class="text-danger" *ngIf="loginForm.get('userEmail').errors"
              >Email chưa đúng</small
            >
          </div>
        </span>
      </div>
      <div class="input-textbox d-flex justify-content-center">
        <span class="p-float-label m-4 mb-1">
          <h6>Mật khẩu</h6>
          <p-password
            class="inputtext mt-1 form-control"
            [toggleMask]="true"
            formControlName="userPassword"
            [feedback]="false"
          >
          </p-password>
          <div
            *ngIf="
              (loginForm.get('userPassword').invalid &&
                (loginForm.get('userPassword').dirty ||
                  loginForm.get('userPassword').touched)) ||
              isWrongLogin
            "
          >
            <small
              class="text-danger"
              *ngIf="loginForm.get('userPassword').errors"
              >Bạn chưa nhập mật khẩu</small
            >
            <small class="text-danger" *ngIf="isWrongLogin"
              >Email hoặc mật khẩu chưa đúng</small
            >
          </div>
        </span>
      </div>
      <div class="forgot-password d-flex justify-content-center">
        <div class="d-flex">
          <div class="ms-auto">
            <a class="fw-light fs-9" routerLink="/forgot-password"
              >Quên mật khẩu</a
            >
          </div>
        </div>
      </div>
      <div class="btn-container d-flex justify-content-center pt-4">
        <button
          type="submit"
          class="btn btn-primary text-nowrap rounded-3"
          [disabled]="loginForm.invalid"
        >
          Đăng nhập
        </button>
      </div>
      <div class="sign-up d-flex justify-content-center mt-2">
        <div>
          <p>
            Bạn chưa có tài khoản? <a routerLink="/register">Đăng ký ngay</a>
          </p>
        </div>
      </div>
    </form>
  </div>
  <div
    class="side-background col-sm-7 col-md-8 bg-secondary h-100 rounded-start-5"
  ></div>
</div>
