<app-widget
  [breadcrumbItimes]="breadcrumbItimes"
  [img]="
    'https://i.ibb.co/y6znmC0/mikhail-vasilyev-Nodtn-Cs-Ld-TE-unsplash-2.jpg'
  "
  title="Chi tiết thú cưng"
></app-widget>
<div
  *ngIf="isLoading"
  class="loading w-100 h-100 position-absolute d-flex d-flex justify-content-center align-items-center flex-column gap-2 bg-body rounded-3 z-3"
>
  <div class="spinner-border" role="status">
    <span class="sr-only">Đang tải...</span>
  </div>
  <p style="opacity: 0.7">Đang tải</p>
</div>
<div class="container p-4">
  <div class="info">
    <p-galleria
      [value]="listImg"
      [showIndicators]="false"
      [showItemNavigatorsOnHover]="true"
      [showItemNavigators]="true"
      [responsiveOptions]="responsiveOptions"
      [containerStyle]="{ 'max-width': '640px', 'min-height': '500px' }"
    >
      <ng-template pTemplate="item" let-item>
        <img
          [src]="item"
          style="
            width: 80%;
            display: block;
            padding-bottom: 10px;
            min-height: 300px;
            object-fit: cover;
            border-radius: 5px;
          "
        />
      </ng-template>
      <ng-template pTemplate="thumbnail" let-item>
        <div class="grid grid-nogutter justify-content-center">
          <img [src]="item" class="h-100" style="display: block; width: 20%" />
        </div>
      </ng-template>
    </p-galleria>

    <div class="pet-info">
      <div class="basic-info ps-4">
        <div class="pet-name d-flex">
          <h1 class="py-2">{{ pet.animalName }}</h1>
          <div class="divider py-4 px-4">
            <div class="vr h-100"></div>
          </div>
          <h4
            style="cursor: pointer"
            class="py-2 my-auto"
            (click)="openShelterInfo()"
          >
            Trại: {{ shelterName }}
          </h4>
        </div>

        <h5><b>Giống:</b> {{ pet.animalBreed }}</h5>
        <h5><b>Giới tính:</b> {{ pet.animalGender ? "Đực" : "Cái" }}</h5>
        <h5><b>Tuổi:</b> {{ pet.animalAge }}</h5>
        <h5><b>Cân nặng:</b> {{ pet.animalWeight }} kg</h5>
        <h5><b>Màu sắc:</b> {{ pet.animalColor }}</h5>
      </div>

      <p-divider align="left" class="pt-2">
        <div class="inline-flex align-items-center">
          <b>Tình trạng</b>
        </div>
      </p-divider>
      <div class="status-info ps-4 pt-2">
        <h5><b>Tiêm phòng:</b> {{ pet.vaccinated ? "Đã tiêm" : "Chưa" }}</h5>
        <h5><b>Triệt sản:</b> {{ pet.deWormed ? "Rồi" : "Chưa" }}</h5>
        <h5><b>Xổ giun:</b> {{ pet.sterilized ? "Rồi" : "Chưa" }}</h5>
        <h5><b>Thân thiện:</b> {{ pet.friendly ? "Có" : "Không" }}</h5>
      </div>
      <p-divider align="left" class="pt-2">
        <div class="inline-flex align-items-center">
          <b>Người nhận nuôi online</b>
        </div>
      </p-divider>

      <div class="ps-4" *ngFor="let user of listOnlineAdopter">
        <p-avatar
          image="{{ user.userAvatar }}"
          size="large"
          shape="circle"
          pTooltip="{{ user.userFirstName + ' ' + user.userLastName }}"
          tooltipPosition="bottom"
        ></p-avatar>
      </div>
      <div class="ps-4 p-2" *ngIf="listOnlineAdopter.length == 0">
        Hiện tại chưa có người nhận nuôi
      </div>
      <div class="button-group pt-2">
        <button
          class="btn btn-primary"
          (click)="requestAdoption()"
          [disabled]="isSendAdoption"
          *ngIf="!isSendAdoption"
        >
          Nhận nuôi
        </button>
        <button
          class="btn btn-primary"
          (click)="requestAdoption()"
          *ngIf="isSendAdoption"
          disabled="true"
        >
          Bạn đã gửi yêu cầu
        </button>
        <button
          class="btn btn-secondary"
          (click)="onlineAdopt()"
          *ngIf="!isSendOnlAdoption"
        >
          Nhận nuôi online
        </button>

        <button
          class="btn btn-secondary"
          (click)="openBankingComponent()"
          *ngIf="isSendOnlAdoption"
        >
          Thông tin chuyển khoản
        </button>
      </div>
    </div>
    <p-toast key="adoptPet"></p-toast>
    <div class="flex justify-content-center">
      <p-toast
        position="bottom-center"
        key="confirmAdoption"
        (onClose)="onReject()"
        [baseZIndex]="5000"
        [preventOpenDuplicates]="true"
      >
        <ng-template let-message pTemplate="message">
          <div class="flex flex-column" style="flex: 1">
            <div class="text-center">
              <h4>Bạn muốn rước {{ pet.animalName }} về nhà?</h4>
            </div>
            <div class="d-flex justify-content-center gap-4">
              <button
                type="button"
                pButton
                (click)="onConfirm()"
                label="Đồng ý"
                class="p-button-success"
              ></button>
              <button
                type="button"
                pButton
                (click)="onReject()"
                label="Từ chối"
                class="p-button-secondary"
              ></button>
            </div>
          </div>
        </ng-template>
      </p-toast>
    </div>
  </div>
  <div class="detail-status pt-4">
    <p-divider align="left">
      <div class="inline-flex align-items-center">
        <h5><b>Tình trạng sức khoẻ</b></h5>
      </div>
    </p-divider>
    <div>
      <textarea
        class="w-100"
        name=""
        id="textarea"
        pInputTextarea
        [autoResize]="true"
        [(ngModel)]="pet.animalStatus"
        disabled="true"
      ></textarea>
    </div>
  </div>
</div>
