:host::ng-deep {
  .p-divider.p-divider-horizontal {
    font-size: 1.3rem;

    font-weight: 350;
  }
  .p-divider .p-divider-content {
    background-color: #f5f5f5;
  }
}

.container {
  .info,
  .user {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    background-color: #f5f5f5;
    border-radius: 20px;
  }
  .status-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .user {
    .user-info {
      background-color: #f5f5f5;
      img {
        width: 130px;
        height: 130px;
      }
    }
    .button {
      display: grid;
      margin: auto;
      gap: 20px;
    }
  }
}

@media (max-width: 768px) {
  .container {
    .info {
      display: flex;
      flex-direction: column-reverse;
    }
    .user,
    .user-info,
    .status-info,
    .basic-info {
      display: grid !important;
      grid-template-columns: repeat(1, 1fr);
      gap: 5px;
    }

    .pet-info {
      .pet-info-header {
        h1,
        h4 {
          height: 100%;
          margin: auto 0px;
        }
      }
    }
    .user {
      padding: 12px !important;
      .user-info {
        margin-bottom: 1.5rem;
        > div {
          display: grid !important;
          place-items: center;
          > button {
            width: 15rem;
          }
        }
        img {
          margin: auto;
        }
      }
      .button {
        display: flex;
        justify-content: space-between;
        button {
          margin: auto;
          padding: 5px 20px;
          width: 8.25rem;
        }
      }
    }

    .pet-img {
      max-height: 400px;
      img {
        margin: auto;
        object-fit: cover;
        min-height: 300px;
        max-width: 300px;
      }
    }
  }
}
