<app-widget
  [breadcrumbItimes]="breadcrumbItimes"
  [img]="
    'https://i.ibb.co/Khq1z5G/cristian-castillo-73py-V0-JJOm-E-unsplash.jpg'
  "
  title="Chi tiết nhận nuôi"
></app-widget>
<div class="container p-4">
  <div class="info pt-4">
    <div class="pet-info my-auto">
      <div class="pet-info-header d-flex">
        <h1 class="ps-4 py-2">{{ requestInfo.animal.animalName }}</h1>
        <div class="divider py-4 px-4">
          <div class="vr h-100"></div>
        </div>
        <h4 class="py-2 my-auto">
          Trại: {{ requestInfo.shelter.shelterName }}
        </h4>
      </div>
      <div class="basic-info ps-4">
        <h5><b>Giống:</b> {{ requestInfo.animal.animalBreed }}</h5>
        <h5>
          <b>Giới tính:</b>
          {{ requestInfo.animal.animalGender ? "Đực" : "Cái" }}
        </h5>
        <h5><b>Tuổi:</b> {{ requestInfo.animal.animalAge }}</h5>
        <h5><b>Màu sắc:</b> {{ requestInfo.animal.animalColor }}</h5>
      </div>

      <p-divider align="left" class="pt-4">
        <div class="inline-flex align-items-center">
          <b>Tình trạng</b>
        </div>
      </p-divider>
      <div class="status-info ps-4 py-2">
        <h5>
          <b>Tiêm phòng:</b>
          {{ requestInfo.animal.vaccinated ? "Đã tiêm" : "Chưa" }}
        </h5>
        <h5>
          <b>Triệt sản:</b> {{ requestInfo.animal.deWormed ? "Rồi" : "Chưa" }}
        </h5>
        <h5>
          <b>Xổ giun:</b> {{ requestInfo.animal.sterilized ? "Rồi" : "Chưa" }}
        </h5>
        <h5>
          <b>Thân thiện:</b> {{ requestInfo.animal.friendly ? "Có" : "Không" }}
        </h5>
      </div>
      <p-divider align="left" class="pt-2">
        <div class="inline-flex align-items-center">
          <b>Người nhận nuôi online</b>
        </div>
      </p-divider>

      <div
        class="ps-4 adopted-user"
        *ngFor="let user of requestInfo.animal.onlineAdopters"
        [attr.data-name]="user.userFirstName + ' ' + user.userLastName"
      >
        <p-avatar
          image="{{ user.userAvatar }}"
          size="large"
          shape="circle"
        ></p-avatar>
        <br />
      </div>
      <div
        class="ps-4 p-2"
        *ngIf="
          !requestInfo.animal.onlineAdopters ||
          requestInfo.animal.onlineAdopters.length === 0
        "
      >
        Hiện tại chưa có người nhận nuôi
      </div>
    </div>
    <div class="pet-img">
      <img
        class="rounded-3"
        src="{{
          requestInfo.animal.animalImg
            ? requestInfo.animal.animalImg
            : 'https://firebasestorage.googleapis.com/v0/b/advance-totem-350103.appspot.com/o/Avatar%2Fava-default_pet_pfp.png?alt=media&token=3fcf7cb9-a92b-402e-bc2c-08d632d62ae0'
        }}"
        alt=""
      />
    </div>
  </div>
  <p-divider align="left">
    <div class="inline-flex align-items-center">
      <h5><b>Thông tin người nhận nuôi</b></h5>
    </div>
  </p-divider>
  <div class="user pt-4 ps-4">
    <div class="user-info d-flex p-3 rounded-4">
      <img
        class="rounded-circle col-4"
        [src]="
          requestInfo.user.userAvatar
            ? requestInfo.user.userAvatar
            : 'https://firebasestorage.googleapis.com/v0/b/advance-totem-350103.appspot.com/o/Avatar%2Fava-default_pfp.png?alt=media&token=f0abd1ae-d5c5-4b0f-b138-f3708619a963'
        "
        alt=""
      />

      <div class="ps-4 ps-4">
        <h5>
          <b>{{
            requestInfo.user.userFirstName + " " + requestInfo.user.userLastName
          }}</b>
        </h5>
        <h5>{{ requestInfo.user.userEmail }}</h5>
        <h5>
          Số điện thoại:
          {{
            requestInfo.user.userPhone ? requestInfo.user.userPhone : "Chưa có"
          }}
        </h5>
        <button class="btn btn-primary mx-auto" (click)="contactRequestor()">
          Liên hệ
        </button>
      </div>
    </div>
    <div class="button" *ngIf="requestInfo.applicationStatus === 'PENDING'">
      <button class="btn btn-primary" (click)="acceptRequest()">
        Chấp nhận
      </button>
      <button class="btn btn-secondary" (click)="rejectRequest()">
        Từ chối
      </button>
    </div>
  </div>
</div>
