<div class="container-fluid py-5">
  <div class="logo">
    <img
      class="me-3"
      src="https://i.ibb.co/3h7wrgX/logo-removebg-preview.png"
      alt="Logo"
    />
  </div>
  <div class="about-us p-2">
    <p-divider align="left">
      <div class="inline-flex align-items-center fw-medium">
        <b>Về chúng tôi</b>
      </div>
    </p-divider>
    <p class="fw-medium">
      Một tổ chức phi lợi nhuận giúp hỗ trợ các tổ chức cứu trợ động vật tiếp
      cận được nhiều người có nhu cầu nhận nuôi hơn.
    </p>
  </div>
  <div class="contact">
    <p-divider align="left">
      <div class="inline-flex align-items-center fw-medium">
        <b>Liên hệ</b>
      </div>
    </p-divider>
    <div>
      <i class="bi bi-envelope-fill"></i>
      <a href="mailto:pescue.org@gmail.com" class="fw-medium">pescue.org@gmail.com</a>
    </div>
    <div>
      <i class="bi bi-telephone-fill"></i>
      <a class="fw-medium">(+84) 902 309 287</a>
    </div>
    <div>
      <i class="bi bi-geo-alt-fill"></i>
      <a href="https://goo.gl/maps/t8SRcZBMmS2NmawQ6" class="fw-medium">
        Ho Chi Minh city, Viet Nam</a>
    </div>
  </div>
</div>
